Pandas

In [3]:
import numpy as np

In [4]:
import pandas as pd #importando o pandas

In [5]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [6]:
labels

['a', 'b', 'c']

In [7]:
my_data

[10, 20, 30]

In [8]:
arr

array([10, 20, 30])

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

#Series

In [10]:
pd.Series(data = my_data) #Series é como uma coluna em uma mesa, um array unidimensional contendo um data de qualquer tipo (index na esquerda e dado na direita)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data=my_data,index=labels) #mesmo exemplo acima, porém, foi especificado que as indexes receba o valor de label (no caso 0, 1, 2 recebeu o valor de label (a, b, c))

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_data,labels) #forma mais dinamica para especificar parâmetros

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(arr) #arr ta com valor de np.array(my_data)

0    10
1    20
2    30
dtype: int32

In [15]:
pd.Series(arr,labels) #aqui foi acrescentado labels que automaticamente substituiu os valores exibidos das indexes

a    10
b    20
c    30
dtype: int32

In [16]:
d #esse é o dictionary especificado acima com a chave e valor

{'a': 10, 'b': 20, 'c': 30}

In [17]:
pd.Series(d) #aqui com d como parâmetro é mais dinâmico que os outros exemplos pois o index recebe a chave e o data o valor

a    10
b    20
c    30
dtype: int64

In [19]:
pd.Series(data=labels) #series recebe diversos tipos dentro da sua função, nesse caso data está recebendo os valores de labels, ou seja, no primeiro exemplo recebeu números inteiros em data, agora recebeu objetos em data

0    a
1    b
2    c
dtype: object

In [20]:
pd.Series(data=[sum,print,len]) #também recebe funções dentro de funções, mas é apenas um exemplo de flexibilidade

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [22]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan']) #primeiro são os valores, depois as indexes

In [25]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [26]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [27]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [28]:
ser1['USA']

1

In [30]:
ser3 = pd.Series(data=labels)

In [31]:
ser3[0] #selecionando a index

'a'

In [32]:
ser1 + ser2 #paises com o mesmo nome vão receber a soma de valores, enquanto paises com nomes diferentes não terão valores para somar, retornando um valor nulo

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64